// $color-bg-primary:   #f6f6f6;
// $color-bg-secondary: #ebebeb;
// $color-bg-pre:       #555;
// $color-text-primary: #444;
// $color-textbg-em:    #d1dffa;

$color-gray-1:         #111;
$color-gray-2:         #222;
$color-gray-3:         #333;
$color-gray-4:         #444;
$color-gray-5:         #555;
$color-gray-6:         #666;
$color-gray-7:         #777;
$color-gray-8:         #888;
$color-gray-9:         #999;
$color-gray-10:        #aaa;
$color-gray-11:        #bbb;
$color-gray-12:        #ccc;
$color-gray-13:        #ddd;
$color-gray-14:        #eee;

$color-black:          #000;
$color-white:          #fff;

$color-crayola-yellow: #ffec88;
$color-white-smoke:    #f6f6f6;
$color-azureish-white: #d1ebf1;
$color-crayola-blue:   #468ef2; /*146fef;*/

$color-bg-primary:     $color-white-smoke;
$color-bg-secondary:   $color-azureish-white;
$color-bg-tertiary:    $color-crayola-yellow;
$color-bg-pre:         $color-gray-5;
$color-text-primary:   $color-gray-4;
$color-textbg-em:      $color-azureish-white;
